<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hanaberia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link th:href="@{/styles/user.css}" rel="stylesheet" />
</head>
<body>
<nav id="menu1"></nav>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h2 class="fw-bold mb-2">Zmień hasło</h2>
                        <p class="mb-5"><span th:text="${message}"></span>&nbsp</p>

                        <form th:action="@{'/recover/stepThree/' + ${users.id}}"
                              th:object="${users}"
                              method="post">
                            <div class="form-outline">
                                <span
                                        class="form-control text-start"
                                        th:text="${users.userName}">
                                </span>
                            </div>
                            <div class="form-outline">
                                <span
                                        class="form-control text-start"
                                        th:text="${users.question.displayValue}">
                                </span>
                            </div>
                            <div class="form-outline">
                                <span
                                        class="form-control text-start"
                                        th:text="${users.answer}">
                                </span>
                            </div>
                            <div class="form-outline">
                                <input
                                        class="form-control"
                                        placeholder="Hasło"
                                        type="password"
                                        id="userPassword"
                                        th:field="*{password}"
                                        maxlength="100"
                                        required/>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    <input
                                            class="form-control"
                                            placeholder="Powtórz hasło"
                                            type="password"
                                            id="confirmPassword"
                                            th:field="*{confirm}"
                                            maxlength="100"
                                            required>
                                </div>
                                <label for="confirmPassword" class="col col-form-label">
                                    <i class="bi bi-eye-slash" title="pokaż hasła" onclick="myFunction(this)"></i>
                                </label>
                            </div>
                            <div class="d-flex justify-content-between buttons">
                                <a id="back" th:href="@{'/recover/stepTwo/' + ${users.id}}" class="btn btn-outline-light p-3">
                                    <i class="bi bi-arrow-left-square" title="wstecz"></i></a>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit" value="submit">
                                    <i class="bi bi-check2-square" title="Zatwierdź"></i></a>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<nav id="menu2"></nav>

<script>
    function myFunction(z) {
  var x = document.getElementById("userPassword");
  var y = document.getElementById("confirmPassword");
  if (x.type === "password") {
    x.type = "text";
    y.type = "text";
  } else {
    x.type = "password";
    y.type = "password";
  }
    z.classList.toggle("bi-eye");
}
</script>

</body>
</html>