<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div
        class="modal fade"
        th:fragment="modal"
        id="completeOrderModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="completeOrderModalTitle"
        aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="completeOrderModalTitle">
                    Zrealizuj zamówienie
                </h5>
            </div>

            <div class="modal-body">
                <form
                        action="#"
                        th:action="@{/orders/complete/{id}(id=${orders.id})}"
                        th:object="${orders}"
                        method="post">
                    <br>
                    <div class="form-group row">
                        <label for="complete-date" class="col-3 col-form-label">Data</label>
                        <div class="col-9">
                            <input
                                    class="form-control"
                                    type="date"
                                    id="complete-date"
                                    name="trip-start"
                                    th:field="*{completedDate}"
                                    min="2022-05-31"
                                    th:max="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
                                    required/>
                            <br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button
                                    type="button"
                                    class="btn btn-outline-danger"
                                    data-bs-dismiss="modal"
                                    aria-label="Close">
                                <i class="bi bi-x-square"></i>
                            </button>
                            <button type="submit"
                                    class="btn btn-success"
                                    value="Submit">
                                <i class="bi bi-check2-square"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>