<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div
        class="modal fade"
        th:fragment="modal"
        id="createOrderModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="createOrderModalTitle"
        aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createOrderModalTitle">
                    Złóż zamówienie
                </h5>
                <button
                        type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form
                        action="#"
                        th:action="@{/orders/add}"
                        th:object="${orders}"
                        method="post">
                    Całkowita wartość zamówienia: <span th:text="${total}"></span>,- zł.
                    <div class="row g-2">
                        <div class="col-12">
                            <label for="message" class="col-form-label">Wiadomość dla sprzedawcy:</label>
                        </div>
                        <div class="col-12">
                        <textarea rows = "2"
                                  class="form-control"
                                  id="message"
                                  th:field="*{message}"
                                  maxlength="255">
                        </textarea>
                            <br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button
                                    type="button"
                                    class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">
                                <i class="bi bi-x-square"></i>
                            </button>
                            <button type="submit"
                                    class="btn btn-success"
                                    value="Submit">
                                <i class="bi bi-check2-square"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>