<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hanaberia</title>
    <link rel="icon" type="image/x-icon" href="/styles/fav.png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link th:href="@{/styles/user.css}" rel="stylesheet" />
</head>
<body>
<nav id="menu1"></nav>
<main>
    <div th:insert="fragments/header :: header"></div>
    <div th:insert="fragments/navUser :: nav"></div>
    <section>
        <div
                class="container"
                style="padding-top: 5vh; display: flex; flex-direction: column; align-items: center;">
            <br/>
            <h4>Usuń konto</h4>
            <form>
                <div class="form-group row">
                    <br>
                    <small>Czy na pewno chcesz usunąć swoje konto?</small>
                </div>
                <small><br></small>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a th:href="@{/users}" class="btn btn-outline-secondary"><i class="bi bi-x-square"></i></a>
                        <a th:href="@{/users/remove/{id}(id=${users.id})}" class="btn btn-danger">
                            <i class="bi bi-check2-square"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div th:insert="fragments/footer :: footer"></div>
</main>
<nav id="menu2"></nav>
</body>
</html>