<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8" />
    <title>Hanaberia</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link th:href="@{/styles/user.css}" rel="stylesheet" />
</head>
<body>
<nav id="menu1"></nav>
    <main>
        <div th:insert="fragments/header :: header"></div>
        <div th:insert="fragments/nav :: nav"></div>
        <section class="head">
        <div
                class="container"
                style="padding-top: 5vh; display: flex; flex-direction: column; align-items: center;">
            <br/>
            <h4>Moje dane</h4>
            <form>
                <div class="form-group row">
                    <br>
                    <label for="userName" class="col-3 col-form-label">Login</label>
                    <div class="col-9">
                        <input
                                class="form-control"
                                type="text"
                                id="userName"
                                th:field="${users.userName}"
                                readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group row">
                    <span>Preferowana forma kontaktu jest uzupełniona.</span>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-3 col-form-label">E-mail</label>
                    <div class="col-9">
                        <input
                                class="form-control"
                                type="text"
                                id="email"
                                th:field="${users.email}"
                                readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-3 col-form-label">Telefon</label>
                    <div class="col-9">
                        <input
                                class="form-control"
                                type="text"
                                id="phone"
                                th:field="${users.phone}"
                                readonly="readonly"/>
                    </div>
                    <small><br></small>
                </div>
                <div class="modal-footer">
                    <a th:href="@{/users/to-edit/{id}(id=${users.id})}" class="btn btn-outline-primary">
                        <i class="bi bi-pencil-square" title="Edytuj"></i></a>
                    <a th:href="@{/users/to-remove/{id}(id=${users.id})}" class="btn btn-outline-danger">
                        <i class="bi bi-x-square" title="Usuń"></i></a>
                </div>
            </form>
        </div>
        </section>
            <div th:insert="fragments/footer :: footer"></div>
    </main>
<nav id="menu2"></nav>
</body>
</html>