<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hanaberia</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link th:href="@{/styles/user.css}" rel="stylesheet" />
</head>
<body>
<nav id="menu1"></nav>
<main>
    <div th:insert="fragments/header :: header"></div>
    <div th:insert="fragments/navUser :: nav"></div>
    <section>
        <div
                class="container"
                style="padding-top: 5vh; display: flex; flex-direction: column; align-items: center;">
            <br/>
            <h4>Edytuj konto</h4>
            <form   th:action="@{'/users/edit/' + ${users.getId()}}"
                    th:object="${users}"
                    method="post">
                <div class="form-group row">
                    <br>
                    <label for="userName" class="col-3 col-form-label">Login</label>
                    <div class="col-9">
                        <input
                                class="form-control"
                                type="text"
                                id="userName"
                                th:field="*{userName}"
                                required/>
                        <span th:text="${errorUN1}" class="error" style="color: red"></span>
                        <span th:text="${errorUN2}" class="error" style="color: red"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <span>Uzupełnij preferowaną formę kontaktu:</span>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-3 col-form-label">E-mail</label>
                    <div class="col-9">
                        <input
                                class="form-control"
                                type="text"
                                id="email"
                                th:field="*{email}"
                                th:required="false"/>
                        <span th:text="${errorE1}" class="error" style="color: red"></span>
                        <span th:text="${errorE2}" class="error" style="color: red"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-3 col-form-label">Telefon</label>
                    <div class="col-9">
                        <input
                                class="form-control"
                                type="text"
                                id="phone"
                                th:field="*{phone}"
                                th:maxlength="11"
                                th:required="false"/>
                        <span th:text="${errorNo}" class="error" style="color: red"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="userPassword" class="col-3 col-form-label">Hasło</label>
                    <div class="col-9">
                        <input
                                class="form-control"
                                type="password"
                                id="userPassword"
                                th:field="*{password}"
                                required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmPassword" class="col-3 col-form-label">Powtórz</label>
                    <div class="col-9">
                        <input
                                class="form-control"
                                type="password"
                                id="confirmPassword"
                                th:field="*{confirm}"
                                required/>
                        <span th:text="${errorP}" class="error" style="color: red"></span>
                    </div>
                    <small><br></small>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a th:href="@{/users/{name}(name=${users.userName})}" class="btn btn-outline-secondary">
                            <i class="bi bi-x-square"></i></a>
                        <button type="submit"
                                class="btn btn-success"
                                value="Submit">
                            <i class="bi bi-check2-square"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div th:insert="fragments/footer :: footer"></div>
</main>
<nav id="menu2"></nav>
</body>
</html>