<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <footer th:fragment="footer" class="d-flex justify-content-between">
            <div>
                <a href="https://www.instagram.com/halia.art/" target="_blank" class="element d-inline">
                    <i class="bi bi-instagram"></i></a>
                <a href="https://github.com/K-Hanna/hanaberia" target="_blank" class="element d-inline">
                    <i class="bi bi-github"></i></a>
                </a>
            </div>
            <div>
                <a href="https://github.com/K-Hanna/hanaberia" target="_blank" id="copyright">
                    Projekt i wykonanie Dong Ha Kotwa.</a>
            </div>
        </footer>
    </body>
</html>