<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <body>
        <div th:fragment="nav">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">
                    <i class="bi bi-person-circle"></i>&nbsp;Moje dane</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/products}">
                        <i class="bi bi-bag-heart"></i>&nbsp;Produkty</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link active" aria-current="page" th:href="@{/orders/all}">
                        <i class="bi bi-card-checklist"></i>&nbsp;Zamówienia</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/messages/all}">
                        <i class="bi bi-envelope"></i>&nbsp;Wiadomości</a>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('USER')">
                    <a class="nav-link" th:href="@{/reservations}">
                        <i class="bi bi-basket2"></i>&nbsp;Rezerwacje</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('USER')">
                    <a class="nav-link active" aria-current="page" th:href="@{/orders}">
                        <i class="bi bi-card-checklist"></i>&nbsp;Zamówienia</a>
                </li>
            </ul>
        </div>
    </body>
</html>