<!DOCTYPE html>
<html lang="pl" id="tlo" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Hanaberia</title>
    <link rel="icon" type="image/x-icon" href="/styles/fav.png">
    <meta name="description" content="Różne sobie rękodzieła">
    <meta name="author" content="Dong Ha Kotwa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
</head>
<body>
    <div id="menu">
        <div id="menu-bar" onclick="menuOnClick()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <nav class="nav" id="nav">
            <ul>
                <li><a href="/#" onclick="menuOnClick()">Góra strony</a></li>
                <li><hr class="bg-light border-3 border-top border-light"></li>
                <li th:each="cat : ${T(com.hanaberia.enums.Categories).values()}">
                    <a th:href="@{'/#' + ${cat}}" onclick="menuOnClick()">
                        <span th:text="${cat.displayValue}"></span></a></li>
                <li><a th:href="@{/archive}">Archiwum</a></li>
                <li><hr class="bg-light border-3 border-top border-light"></li>
                <li><a th:href="@{/messages/to-add}">
                    Kontakt</a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/login}">
                    Zaloguj się</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/users}">
                        Moje konto</a></li>
            </ul>
        </nav>
    </div>

<div class="menu-bg" id="menu-bg"></div>
<main>
    <div th:insert="fragments/header :: header"></div>
    <section>
        <h2 class="head archive">Już niedostępne</h2>
        <article class="gallery">
            <ul>
                <a href="#" class="close"></a>
                <li th:each="product : ${products}">
                    <a th:href="@{'#' + ${product.id}}">
                        <img th:src="@{${'https://static.wixstatic.com/media/' + product.imageName + '.jpg'}}"
                             th:alt="${product.name}"></a>
                    <div th:id="${product.id}" class="port">
                        <div class="description">
                            <h4><span th:text="${product.name}"></span></h4>
                            <p><span th:text="${product.description}"></span>
                        </div>
                        <img th:src="@{${'https://static.wixstatic.com/media/' + product.imageName + '.jpg'}}"
                             th:alt="${product.name}">
                    </div>
                </li>
            </ul>
        </article>
    </section>
    <section>
        <article>
            <p class="text-center text-white">
                Jeżeli chcesz zamówić podobny produkt,
                <a th:href="@{/messages/to-add}" class="d-inline">zostaw wiadomość</a>.</p>
        </article>
    </section>
    <div th:insert="fragments/footer :: footer"></div>
</main>
<nav id="menu2">
</nav>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
<script th:src="@{/styles/actions.js}" type="text/javascript"></script>

</body>
</html>