<!DOCTYPE html>
<html land="en" id="tlo">
<head>
	<meta charset="UTF-8">
	<title>Rękodzieło artystyczne</title>
	<meta name="description" content="Różne sobie rękodzieła">
	<meta name="author" content="Dong Ha Kotwa">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
<nav class="nav-bar">
	<input type="checkbox" id="menu-toggle"/>
	<label id="trigger" for="menu-toggle"></label>
	<label id="burger" for="menu-toggle"></label>
	<ul id="menu">
		<li><a href="#">Home</a></li>
		<li><hr></li>
		<li><a href="#bransoletki">Bransoletki</a></li>
		<li><hr></li>
		<li><a href="#kolczyki">Kolczyki</a></li>
		<li><hr></li>
		<li><a href="#naszyjniki">Naszyjniki</a></li>
		<li><hr></li>
		<li><a href="#pierścionki">Pierścionki</a></li>
	</ul>
</nav>
<main>
	<header>
		<article id="main">
			<h1>Hanaberia</h1>
		</article>
	</header>
	<section>
		<h2 class="head home"></h2>
	</section>
	<section id="bransoletki">
		<h2 class="head bracelets">Bransoletki</h2>
		<article class="gallery">
			<ul>
				<a href="#" class="close"></a>
				<li>
					<a href="#itemb01"><img src="photos/b001.jpg" alt=""></a>
					<div id="itemb01" class="port">
						<div class="description">
							<h3>Bransoletka koralikowo-szydełkowa - Przeplatanka</h3>
							<p>koraliki szklane, zapięcie metalowe <br>długość 18 cm, szerokość 0,8 cm</p>
							<h3>40 zł</h3>
						</div>
						<img src="photos/b001.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb02"><img src="photos/b002.jpg" alt=""></a>
					<div id="itemb02" class="port">
						<div class="description">
							<h3>Bransoletka z cyrkoniami - Tęczowe Piórko</h3>
							<p>koraliki z kamienia tęczowego, zawieszki metalowe<br>średnica 6 cm, szerokość 0,6 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b002.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb03"><img src="photos/b003.jpg" alt=""></a>
					<div id="itemb03" class="port">
						<div class="description">
							<h3>Bransoletka makramowa - Ole!</h3>
							<p>koraliki szklane, zapięcie metalowe, sznurek nylonowy<br>długość 16 cm, szerokość 3,5 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/b003.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb04"><img src="photos/b004.jpg" alt=""></a>
					<div id="itemb04" class="port">
						<div class="description">
							<h3>Bransoletka makramowa regulowana - Róża</h3>
							<p>koraliki szklane, zawieszka ze stali chirurgicznej, sznurek nylonowy<br>średnica min. 5 cm, szerokość od 1 do 4 cm</p>
							<h3>35 zł</h3>
						</div>
						<img src="photos/b004.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb05"><img src="photos/b005.jpg" alt=""></a>
					<div id="itemb05" class="port">
						<div class="description">
							<h3>Bransoletka koralikowa regulowana - Piórko tricolor</h3>
							<p>koraliki szklane Toho, sznurek nylonowy<br>ozdoba: długość 7 cm, szerokość 2,5 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b005.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb06"><img src="photos/b006.jpg" alt=""></a>
					<div id="itemb06" class="port">
						<div class="description">
							<h3>Bransoletka koralikowa - Nero</h3>
							<p>koraliki szklane, zapięcie metalowe<br>długość 19,5 cm, szerokość 2,5 cm</p>
							<h3>10 zł</h3>
						</div>
						<img src="photos/b006.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb07"><img src="photos/b007.jpg" alt=""></a>
					<div id="itemb07" class="port">
						<div class="description">
							<h3>Bransoletka na drucie pamięciowym - Morze</h3>
							<p>koraliki szklane, zawieszka plastikowa<br>średnica 5,5 cm, szerokość 1 cm</p>
							<h3>10 zł</h3>
						</div>
						<img src="photos/b007.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb08"><img src="photos/b008.jpg" alt=""></a>
					<div id="itemb08" class="port">
						<div class="description">
							<h3>Bransoletka makramowa - Kotski</h3>
							<p>koraliki z kamieni (tożsamość nieznana), zapięcie metalowe, sznurek nylonowy<br>długość 18,5 cm, szerokość 0,7 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/b008.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb09"><img src="photos/b009.jpg" alt=""></a>
					<div id="itemb09" class="port">
						<div class="description">
							<h3>Bransoletka koralikowa - Gwiazdki</h3>
							<p>koraliki szklane, zapięcie i kuleczki metalowe<br>długość 19,5 cm, szerokość 25 cm</p>
							<h3>10 zł</h3>
						</div>
						<img src="photos/b009.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb10"><img src="photos/b010.jpg" alt=""></a>
					<div id="itemb10" class="port">
						<div class="description">
							<h3>Bransoletka na gumce - Marmur</h3>
							<p>koraliki szklane i marmurowe<br>średnica 5,5 cm, szerokość 1 cm</p>
							<h3>15 zł</h3>
						</div>
						<img src="photos/b010.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb11"><img src="photos/b011.jpg" alt=""></a>
					<div id="itemb11" class="port">
						<div class="description">
							<h3>Bransoletka koralikowa - Mat</h3>
							<p>koraliki szklane (Toho, Crystalove, CzechMate Tile), zapięcie metalowe<br>długość regulowana do 20 cm, szerokość 1,8 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b011.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb12"><img src="photos/b012.jpg" alt=""></a>
					<div id="itemb12" class="port">
						<div class="description">
							<h3>Podwójna bransoletka koralikowa - Bianca</h3>
							<p>koraliki szklane CzechMate Tile, sznurki nylonowe<br>długość regulowana od 34 cm, szerokość 0,8 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b012.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb13"><img src="photos/b013.jpg" alt=""></a>
					<div id="itemb13" class="port">
						<div class="description">
							<h3>Bransoletka regulowana - Flaming</h3>
							<p>koraliki z agatu, zawieszka i kuleczki ze stali chirurgicznej<br>długość zawieszki 1,7 cm, średnica kulek 0,4 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b013.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb14"><img src="photos/b014.jpg" alt=""></a>
					<div id="itemb14" class="port">
						<div class="description">
							<h3>Bransoletka makramowa - Na Guzik</h3>
							<p>koraliki z kamienia, sznurek nylonowy<br>długość 16 cm, średnica 0,8 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b014.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb15"><img src="photos/b015.jpg" alt=""></a>
					<div id="itemb15" class="port">
						<div class="description">
							<h3>Bransoletka z pereł Swarovskiego - d'Oro</h3>
							<p>koraliki z pereł Swarovskiego, przekładki metalowe<br>średnica 5,5 cm, szerokość 0,8 cm</p>
							<h3>25 zł</h3>
						</div>
						<img src="photos/b015.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb16"><img src="photos/b016.jpg" alt=""></a>
					<div id="itemb16" class="port">
						<div class="description">
							<h3>Bransoletka z pereł Swarovskiego - Rosa</h3>
							<p>koraliki z pereł Swarovskiego, Toho, przekładki metalowe<br>długość 17 cm, szerokość 1,3 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b016.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb17"><img src="photos/b017.jpg" alt=""></a>
					<div id="itemb17" class="port">
						<div class="description">
							<h3>Bransoletka regulowana - Lapis lazuri rozgwiazda</h3>
							<p>koraliki z lapis lazuri, zawieszka i kulki metalowe<br>długość zawieszki 2 cm, średnica koralików 0,8 cm</p>
							<h3> 20 zł</h3>
						</div>
						<img src="photos/b017.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb18"><img src="photos/b018.jpg" alt=""></a>
					<div id="itemb18" class="port">
						<div class="description">
							<h3>Bransoletka regulowana - Mazaje</h3>
							<p>koraliki szklane<br>średnica koralików 1,2 cm</p>
							<h3>10 zł</h3>
						</div>
						<img src="photos/b018.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb19"><img src="photos/b019.jpg" alt=""></a>
					<div id="itemb19" class="port">
						<div class="description">
							<h3>Bransoletka koralikowo-szydełkowa - ombre</h3>
							<p>koraliki szklane Toho, zapięcie metalowe<br>długość 19 cm, szerokość 0,9 cm</p>
							<h3>40 zł</h3>
						</div>
						<img src="photos/b019.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb20"><img src="photos/b020.jpg" alt=""></a>
					<div id="itemb20" class="port">
						<div class="description">
							<h3>Bransoletka regulowana - Pod wodą</h3>
							<p>koraliki szklane, pozostałe elementy ze stali chirurgicznej<br>długość od 18 do 23 cm, szerokość 2,5 cm</p>
							<h3>120 zł</h3>
						</div>
						<img src="photos/b020.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb21"><img src="photos/b021.jpg" alt=""></a>
					<div id="itemb21" class="port">
						<div class="description">
							<h3>Bransoletka regulowana - Złote drzewko</h3>
							<p>koraliki szklane Crystalove, zawieszka ze stali chirurgicznej, sznurek nylonowy<br>średnica zawieszki 1,6 cm, średnica koralików 0,4 cm</p>
							<h3>25 zł</h3>
						</div>
						<img src="photos/b021.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb22"><img src="photos/b022.jpg" alt=""></a>
					<div id="itemb22" class="port">
						<div class="description">
							<h3>Bransoletka makramowa - Uno</h3>
							<p>koraliki szklane, sznurek nylonowy<br>szerokość 2 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b022.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb23"><img src="photos/b023.jpg" alt=""></a>
					<div id="itemb23" class="port">
						<div class="description">
							<h3>Bransoletka regulowana - Triple Shamballa</h3>
							<p>koraliki szklane, sznurek nylonowy<br>szerokość 2 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b023.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb24"><img src="photos/b024.jpg" alt=""></a>
					<div id="itemb24" class="port">
						<div class="description">
							<h3>Bransoletka koralikowo-szydełkowa - Arbuz</h3>
							<p>koraliki szklane Toho, zapięcie i zawieszka metalowa<br>długość 20 cm, szerokość 0,7 cm</p>
							<h3>40 zł</h3>
						</div>
						<img src="photos/b024.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb25"><img src="photos/b025.jpg" alt=""></a>
					<div id="itemb25" class="port">
						<div class="description">
							<h3>Bransoletka koralikowo-szydełkowa - Kwiat</h3>
							<p>koraliki szklane Toho, przekładka metalowa<br>średnica 5,5 cm, szerokość 1,5 cm</p>
							<h3>40 zł</h3>
						</div>
						<img src="photos/b025.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb26"><img src="photos/b026.jpg" alt=""></a>
					<div id="itemb26" class="port">
						<div class="description">
							<h3>Bransoletka regulowana - Baryłki</h3>
							<p>baryłki metalowe, sznurek nylonowy<br>długość 20 cm, szerokość 0,7 cm</p>
							<h3>10 zł</h3>
						</div>
						<img src="photos/b026.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb27"><img src="photos/b027.jpg" alt=""></a>
					<div id="itemb27" class="port">
						<div class="description">
							<h3>Bransoletka makramowa - Lapis lazuri</h3>
							<p>koraliki z lapis lazuri, sznurek nylonowy<br>długość od 14 do 20 cm, szerokość 0,6 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/b027.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb28"><img src="photos/b028.jpg" alt=""></a>
					<div id="itemb28" class="port">
						<div class="description">
							<h3>Bransoletka makramowa - Black'n'White </h3>
							<p>koraliki szklane crackle, sznurek nylonowy<br>długość od 14 do 21 cm, szerokość 1 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/b028.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb29"><img src="photos/b029.jpg" alt=""></a>
					<div id="itemb29" class="port">
						<div class="description">
							<h3>Bransoletka z hematytem - Nutki</h3>
							<p>koraliki z hematytu, zawieszki i zapięcia ze stali chirurgicznej, sznurek nylonowy<br>długość 17 cm, szerokość 1 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b029.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb30"><img src="photos/b030.jpg" alt=""></a>
					<div id="itemb30" class="port">
						<div class="description">
							<h3>Bransoletka z agatem - przeplatanka na gumce</h3>
							<p>koraliki z agatu smoczego<br>długość 18 cm, szerokość 0,6 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b030.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb31"><img src="photos/b031.jpg" alt=""></a>
					<div id="itemb31" class="port">
						<div class="description">
							<h3>Bransoletka koralikowo-szydełkowa - Firepolish</h3>
							<p>koraliki szklane Toho i Firepolish, zapięcie ze stali chirurgicznej<br>długość 20,5 cm, szerokość 0,7 cm</p>
							<h3>40 zł</h3>
						</div>
						<img src="photos/b031.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb33"><img src="photos/b033.jpg" alt=""></a>
					<div id="itemb33" class="port">
						<div class="description">
							<h3>Bransoletka regulowana - Srebrne drzewko</h3>
							<p>koraliki szklane Crystalove, zawieszka ze stali chirurgicznej, sznurek nylonowy<br>średnica zawieszki 1,6 cm, średnica koralików 0,4 cm</p>
							<h3>25 zł</h3>
						</div>
						<img src="photos/b033.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb35"><img src="photos/b035.jpg" alt=""></a>
					<div id="itemb35" class="port">
						<div class="description">
							<h3>Bransoletka regulowana z malachitem - Koniczynka</h3>
							<p>koraliki z malachitu, zawieszka ze stali chirurgicznej, kuleczki metalowe, sznurek nylonowy<br>długość zawieszki 11 cm, szerokość koralików 0,6 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b035.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb37"><img src="photos/b037.jpg" alt=""></a>
					<div id="itemb37" class="port">
						<div class="description">
							<h3>Bransoletka na drucie pamięciowym - Piórko</h3>
							<p>koraliki szklane, zawieszka metalowa<br>średnica 5,5 cm, szerokość 1,5 cm</p>
							<h3>15 zł</h3>
						</div>
						<img src="photos/b037.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb38"><img src="photos/b038.jpg" alt=""></a>
					<div id="itemb38" class="port">
						<div class="description">
							<h3>Bransoletka makramowa - DNA</h3>
							<p>koraliki szklane crackle, sznurek nylonowy, drut metalowy<br>długość 12 - 21 cm, szerokość 0,7 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/b038.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb39"><img src="photos/b039.jpg" alt=""></a>
					<div id="itemb391" class="port">
						<div class="description">
							<h3>Bransoletka na gumce - Kitty</h3>
							<p>koraliki szklane Toho i z kamienia (agat?), zzawieszka metalowa<br>długość 18 cm, szerokość z zawieszką 4 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b039.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb40"><img src="photos/b040.jpg" alt=""></a>
					<div id="itemb40" class="port">
						<div class="description">
							<h3>Bransoletka z pereł Swarovskiego na drucie pamięciowym</h3>
							<p>koraliki szklane Toho i perły Swarovskiego<br>średnica 5,5 cm, szerokość 1,2 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/b040.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb41"><img src="photos/b041.jpg" alt=""></a>
					<div id="itemb41" class="port">
						<div class="description">
							<h3>Bransoletka na drucie pamięciowym - mini chwostki</h3>
							<p>koraliki szklane i metalowe<br>średnica 5,5 cm, szerokość 1,7 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/b041.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemb42"><img src="photos/b042.jpg" alt=""></a>
					<div id="itemb42" class="port">
						<div class="description">
							<h3>Bransoletka koralikowa - 5-piętrowa</h3>
							<p>koraliki szklane, sznurek nylonowy<br>długość 13 - 16 cm, szerokość 2 cm</p>
							<h3>40 zł</h3>
						</div>
						<img src="photos/b042.jpg" alt="">
					</div>
				</li>
			</ul>
		</article>
	</section>
	<section id="kolczyki">
		<h2 class="head earrings">Kolczyki</h2>
		<article class="gallery">
			<ul>
				<a href="#" class="close"></a>
				<li>
					<a href="#itemk01"><img src="photos/k001.jpg" alt=""></a>
					<div id="itemk01" class="port">
						<div class="description">
							<h3>Kolczyki makramowe - Trez</h3>
							<p>koraliki szklane, sznurki nylonowe, bigle metalowe<br>długość 16,5 cm, szerokość 2,5 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/k001.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk02"><img src="photos/k002.jpg" alt=""></a>
					<div id="itemk02" class="port">
						<div class="description">
							<h3>Kolczyki koralikowe - Kulki</h3>
							<p>koraliki szklane,  bigle metalowe<br>długość 4 cm, szerokość 2 cm</p>
							<h3>10 zł</h3>
						</div>
						<img src="photos/k002.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk03"><img src="photos/k003.jpg" alt=""></a>
					<div id="itemk03" class="port">
						<div class="description">
							<h3>Kolczyki z bursztynu</h3>
							<p>bursztyn, sznurki nylonowe, bigle ze stali chirurgicznej<br>długość 15 cm, szerokość 2 cm</p>
							<h3>40 zł</h3>
						</div>
						<img src="photos/k003.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk04"><img src="photos/k004.jpg" alt=""></a>
					<div id="itemk04" class="port">
						<div class="description">
							<h3>Kolczyki koralikowe - Śnieżynka</h3>
							<p>koraliki szklane (Toho, SuperDuo), Kocie Oko, bigle ze stali chirurgicznej<br>długość 8 cm, szerokość 2,5 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/k004.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk05"><img src="photos/k005.jpg" alt=""></a>
					<div id="itemk05" class="port">
						<div class="description">
							<h3>Kolczyki makramowe - Róża</h3>
							<p>koraliki szklane, sznurki nylonowe, bigle i zawieszki ze stali chirurgicznej<br>długość 7 cm, szerokość 2 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/k005.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk06"><img src="photos/k006.jpg" alt=""></a>
					<div id="itemk06" class="port">
						<div class="description">
							<h3>Kolczyki koralikowe - Labirynt</h3>
							<p>koraliki szklane Toho, pozostałe elementy ze stali chirurgicznej<br>długość 13 cm, średnica zawieszki 1,8 cm</p>
							<h3>50 zł</h3>
						</div>
						<img src="photos/k006.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk07"><img src="photos/k007.jpg" alt=""></a>
					<div id="itemk07" class="port">
						<div class="description">
							<h3>Kolczyki - Pompony</h3>
							<p>koraliki szklane Toho, elementy metalowe<br>długość 10 cm, szerokość 1,5 cm</p>
							<h3>10 zł</h3>
						</div>
						<img src="photos/k007.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk08"><img src="photos/k008.jpg" alt=""></a>
					<div id="itemk08" class="port">
						<div class="description">
							<h3>Kolczyki koralikowe - Gwiazdki</h3>
							<p>koraliki szklane crackle, bigle ze stali chirurgicznej<br>długość 2,5 cm, szerokość 2,5 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/k008.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk09"><img src="photos/k009.jpg" alt=""></a>
					<div id="itemk09" class="port">
						<div class="description">
							<h3>Kolczyki - Kwiat</h3>
							<p>całość ze stali chirurgicznej<br>długość 2 cm, szerokość 1,2 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/k009.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk10"><img src="photos/k010.jpg" alt=""></a>
					<div id="itemk10" class="port">
						<div class="description">
							<h3>Kolczyki - Śnieżka</h3>
							<p>koraliki z opalu, pozostałe elementy ze stali chirurgicznej<br>długość 3 cm, szerokość 1,7 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/k010.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemk11"><img src="photos/k011.jpg" alt=""></a>
					<div id="itemk11" class="port">
						<div class="description">
							<h3>Kolczyki - chainmaille</h3>
							<p>elementy metalowe, chwost wiskozowy (?)<br>długość 6 cm, szerokość 1 cm</p>
							<h3>30 zł</h3>
						</div>
						<img src="photos/k011.jpg" alt="">
					</div>
				</li>
			</ul>
		</article>
	</section>
	<section id="naszyjniki">
		<h2 class="head necklaces">Naszyjniki</h2>
		<article class="gallery">
			<ul>
				<a href="#" class="close"></a>
				<li>
					<a href="#itemn01"><img src="photos/n001.jpg" alt=""></a>
					<div id="itemn01" class="port">
						<div class="description">
							<h3>Naszyjnik koralikowy - Labirynt</h3>
							<p>koraliki szklane Toho, pozostałe elementy ze stali chirurgicznej<br>długość 44 cm, średnica zawieszki 4 cm</p>
							<h3>60 zł</h3>
						</div>
						<img src="photos/n001.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemn02"><img src="photos/n002.jpg" alt=""></a>
					<div id="itemn02" class="port">
						<div class="description">
							<h3>Naszyjnik koralikowy - Piórko</h3>
							<p>koraliki szklane Toho, pozostałe elementy ze stali chirurgicznej<br>długość od 57 do 61,5 cm, szerokość 2,5 cm</p>
							<h3>60 zł</h3>
						</div>
						<img src="photos/n002.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemn03"><img src="photos/n003.jpg" alt=""></a>
					<div id="itemn03" class="port">
						<div class="description">
							<h3>Naszyjnik koralikowo-szydełkowy - Zygzag</h3>
							<p>koraliki szklane Toho, pozostałe elementy metalowe<br>długość 50 cm, średnica 0,7 cm<br>
								Może być jako podwójna bransoletka.</p>
							<h3>80 zł</h3>
						</div>
						<img src="photos/n003.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemn04"><img src="photos/n004.jpg" alt=""></a>
					<div id="itemn04" class="port">
						<div class="description">
							<h3>Naszyjnik z bursztynu</h3>
							<p>bursztyn, zapięcie magnetyczne ze stali chirurgicznej, sznurek nylonowy<br>długość 50 cm, szerokość 2,5 cm</p>
							<h3>60 zł</h3>
						</div>
						<img src="photos/n004.jpg" alt="">
					</div>
				</li>
				<li>
					<a href="#itemn05"><img src="photos/n005.jpg" alt=""></a>
					<div id="itemn05" class="port">
						<div class="description">
							<h3>Naszyjnik koralikowo-szydełkowy - Listki</h3>
							<p>koraliki szklane Toho, pozostałe elementy ze stali chirurgicznej<br>długość bez zawieszek 56 cm, szerokość 0,7 cm<br>
								zawieszki: długość 3,2 cm, szerokość 2 cm</p>
							<h3>120 zł</h3>
						</div>
						<img src="photos/n005.jpg" alt="">
					</div>
				</li>
			</ul>
		</article>
	</section>
	<section id="pierścionki">
		<h2 class="head rings">Pierścionki</h2>
		<article class="gallery">
			<ul>
				<a href="#" class="close"></a>
				<li>
					<a href="#itemp01"><img src="photos/p001.jpg" alt=""></a>
					<div id="itemp01" class="port">
						<div class="description">
							<h3>Pierścionek koralikowy na gumce</h3>
							<p>koraliki szklane Toho<br>średnica 1,7 cm</p>
							<h3>20 zł</h3>
						</div>
						<img src="photos/p001.jpg" alt="">
					</div>
				</li>
			</ul>
		</article>
	</section>
	<footer>
		<article>
			<p class="foot">Designed and executed by Dong Ha Kotwa
		</article>
	</footer>
</main>
<nav id="menu2">
	<a href="https://www.instagram.com/halia.art/" target="_blank" id="insta"><i class="fa fa-instagram"></i></a>
</nav>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/index.js"></script>
</body>
</html>