<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hanaberia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link th:href="@{/styles/user.css}" rel="stylesheet" />
</head>
<body>
<nav id="menu1"></nav>
<main>
    <div th:insert="fragments/header :: header"></div>
    <section>
        <div
                class="container"
                style="padding-top: 5vh; display: flex; flex-direction: column; align-items: center;">
            <br/>
            <h4>Wyślij wiadomość</h4>
            <span th:text="${error}"></span>
            <form
                    action="#"
                    th:action="@{/messages/add}"
                    th:object="${messages}"
                    method="post">
                <div class="row g-2">
                    <label class="btn-group col-4" for="contact">
                        <input type="radio"
                               class="btn-check"
                               th:field="*{contactForm}"
                               value="EMAIL"
                               id="emailCheck"
                               autocomplete="off">
                        <label class="btn btn-outline-secondary"
                               for="emailCheck">
                            <i class="bi bi-envelope"></i>
                        </label>
                        <input type="radio"
                               class="btn-check"
                               th:field="*{contactForm}"
                               value="PHONE"
                               id="phoneCheck"
                               autocomplete="off">
                        <label class="btn btn-outline-secondary"
                               for="phoneCheck">
                            <i class="bi bi-telephone"></i>
                        </label>
                    </label>
                    <div class="col-8">
                        <input
                                class="form-control"
                                type="text"
                                id="contact"
                                th:field="*{contact}"
                                maxlength="100"
                                required/>
                    </div>
                </div>
                <div class="row g-2">
                    <br>
                    <label for="title" class="col-12 col-form-label">Tytuł:</label>
                    <div class="col-12">
                        <input
                                class="form-control"
                                type="text"
                                id="title"
                                th:field="*{title}"
                                maxlength="100"
                                required/>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-12">
                        <label for="content" class="col-form-label">Treść:</label>
                    </div>
                    <div class="col-12">
                          <textarea rows = "5"
                                    class="form-control"
                                    id="content"
                                    th:field="*{content}"
                                    maxlength="255"
                                    required>
                          </textarea>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="/" class="btn btn-outline-secondary"><i class="bi bi-x-square"></i></a>
                        <button type="submit"
                                class="btn btn-success"
                                value="Submit">
                            <i class="bi bi-check2-square"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div th:insert="fragments/footer :: footer"></div>
</main>
<nav id="menu2"></nav>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</body>
</html>